# CICD using GitHub actions

name: CI

# Exclude the workflow to run on changes to the helm chart
on:
  # push:
  #   branches:
  #     - main
    # paths-ignore:
    #   - 'helm/**'
    #   - 'k8s/**'
    #   - 'README.md'
  workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Go 1.22
      uses: actions/setup-go@v5
      with:
        go-version: 1.22

    - name: Build
      run: go build -o go-web-app

    - name: Test
      run: go test ./...
  
  code-quality:
    runs-on: ubuntu-latest
    needs: build
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v6
      with:
        version: latest
  
  push:
    runs-on: ubuntu-latest

    needs: code-quality

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and Push action
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/go-web-app:${{github.run_number}}

  update-newtag-in-helm-chart:
    runs-on: ubuntu-latest

    needs: push

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        token: ${{ secrets.GH_TOKEN }}

    - name: Update tag in Helm chart
      run: |
        sed -i 's/tag: .*/tag: "${{github.run_number}}"/' helm/go-web-app-chart/values.yaml

    - name: Commit and push changes
      run: |
        git config --global user.email "venkyy82@gmail.com"
        git config --global user.name "venkatesh"
        git add helm/go-web-app-chart/values.yaml
        git commit -m "Update tag in Helm chart"
        git push

  # Job for creating EKS cluster & Deploying the application
  deploy-to-eks:
    runs-on: ubuntu-latest
    needs: update-newtag-in-helm-chart

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

# eksctl create cluster --name demo-cluster --region us-east-1 ### m5.large
# eksctl delete cluster --name demo-cluster --region us-east-1
# kubectl config get-contexts
# kubectl get nodes
# kubectl apply -f deployment.yaml
# kubectl apply -f service.yaml
# helm install my-release ./helm-chart-1-chart -f values.yaml

    # Step to install eksctl
    - name: Install eksctl
      run: |
        curl --silent --location "https://github.com/weaveworks/eksctl/releases/download/0.106.0/eksctl_Linux_amd64.tar.gz" | tar xz -C /tmp
        sudo mv /tmp/eksctl /usr/local/bin 
        
    - name: Create EKS Cluster using eksctl
      run: |
        # Create EKS cluster
        eksctl create cluster \
          --name demo-cluster \
          --region us-east-1 \
          --node-type t2.medium \
          --nodes 1 \
          --nodes-min 1 \
          --nodes-max 1 \
          --managed

    - name: Verify kubectl context and nodes
      run: |
        kubectl config get-contexts
        kubectl get nodes

    - name: Create / Update Docker Registry Secret
      run: |
        kubectl create secret docker-registry regcred \
          --docker-username=${{ secrets.DOCKERHUB_USERNAME }} \
          --docker-password=${{ secrets.DOCKERHUB_TOKEN }} \
          --dry-run=client -o yaml | kubectl apply -f -

    - name: Install Helm
      run: |
        curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
        helm version

    - name: Install go-web-app using Helm
      run: |
        helm install go-web-app ./helm/go-web-app-chart

    - name: List All Resources
      run: |
        sleep 60
        echo "Listing deployments"
        kubectl get deployments
        echo "Listing pods"
        kubectl get pods
        echo "Listing services"
        kubectl get svc

    - name: Delete EKS Cluster
      run: |
        eksctl delete cluster --name demo-cluster --region us-east-1
